<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Delete Project</h4>
  </div>
  <div class="modal-body">
    Are you sure that you want to delete(disable) project "{{ modalProject.name }}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-danger" id="deleteProjectButton" data-ng-click="delete(modalProject)">Delete Project</button>
  </div>
</div><!-- /.modal-content -->
