<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Project</h4>
  </div>
  <div class="modal-body">
    <form role="form">

      <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Name" data-ng-model="modalProject.name"/>
      </div>

      <div class="form-group">
          <label>Code</label>
          <input type="text" class="form-control" placeholder="Code" data-ng-model="modalProject.code"/>
      </div>

      <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="5" placeholder="Description" data-ng-model="modalProject.description"></textarea>
      </div>

      <div class="form-group">
          <label>Status</label>
          <select class="form-control" data-ng-model="modalProject.status">
              <option value="pending">pending</option>
              <option value="active">active</option>
              <option value="inactive">inactive</option>
              <option value="suspended">suspended</option>
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" id="updateProjectButton" data-ng-click="create(modalProject)">Save Project</button>
  </div>
</div><!-- /.modal-content -->
